<div class="container-fluid bg-dark text-white-50 footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5 col-md-6">
                <img src="images/app_logo3.png" alt="Logo" style="height: 80px; margin-right: 12px;">
                <p>
                    <i class="fa fa-map-marker-alt me-3"></i>
                    Gausia Ahmadia Monzil,Maizbhandar Darbar Sharif,
                    Village:Maizbhandar, Post: Bhandar Sharif,
                    Post Code: 4352, Upazilla: Fatikchari, District: Chittagong,
                    Bangladesh
                </p>
                <p>
                    <i class="fa fa-map-marker-alt me-3"></i>
                    House: 6/G Road: 04, Zakir Hossain Society
                    South Khulshi, Chattogram, Bangladesh
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Contact Us</h5>
                <p><i class="fa fa-phone-alt me-3"></i>+8801861 666111</p>
                <p><i class="fa fa-envelope me-3"></i>admin@diri.org.bd</p>
                <p><i class="fa fa-envelope me-3"></i>tasauf.darulirfan@gmail.com</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">Quick Links</h5>
                <a class="btn btn-link" href="">Maizbhandar Darbar Sharif</a>
                <a class="btn btn-link" href="">Darul Irfan Research Institure</a>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Maizbhandari Shah Emdadia IT Team </a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
